@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  color: #fff;
}

.section {
  text-align: center;
}

.menu-active {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #e2007c !important;
  font-size: 18px;
  font-weight: 500;
  border-radius: 18px;
  background-color: #000000;
  padding: 7px 12px 8px 12px;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.menu {
  position: fixed;
  top: 54px;
  left: calc(50% - 130px);
  z-index: 1;
  padding-left: 0;
}

.menu li {
  display: inline-block;
  margin-right: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__link {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 7px 12px 8px 12px;
}

.menu__link:hover {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #e2007c;
  font-size: 18px;
  font-weight: 500;
  border-radius: 18px;
  background-color: #000000;
  padding: 7px 12px 8px 12px;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.white-hover {
  color: black !important;
  text-shadow: none !important;
}

.white-hover:hover {
  background-color: #e2007c !important;
  color: black !important;
}

.wrapper {
  width: 40%;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.62)));
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.62) 100%);
  position: fixed;
}

.wrapper-2 {
  width: 100%;
  height: 26%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.62)));
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.62) 100%);
  position: fixed;
}

.wrapper-3 {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.zindex {
  z-index: 1;
}

.wrapper-mini {
  width: 30%;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%);
  position: fixed;
}

.wrapper-mini:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%);
}

.sport {
  background: url("../img/sport.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.bowling {
  background: url("../img/bowling.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.fog {
  background: url("../img/fog.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.karaoke {
  background: url("../img/karaoke/karaoke-bg.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.restaraunt {
  background: url("../img/restaraunt/restaraunt-bg.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.map-section {
  background: url("../img/map/map.jpg") 0% 100% no-repeat;
}

.logo-md {
  display: none;
  position: fixed;
  top: 45px;
  left: 122px;
  text-align: center;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.logo-lg {
  z-index: 1;
  -webkit-transition: ease 0.05s;
  transition: ease 0.05s;
}

.menu-md {
  display: none;
  -webkit-transition: ease 0.05s;
  transition: ease 0.05s;
}

.phone {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.phone:hover {
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.phone-icon {
  background: url("../img/icons/phone.png") center no-repeat;
  width: 16px;
  height: 21px;
  display: inline-block;
  padding-right: 10px;
}

.links {
  position: fixed;
  top: 65px;
  right: 200px;
}

.social {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social img {
  margin-left: 10px;
}

.vk {
  background: url("../img/icons/vk.png") center no-repeat;
  width: 36px;
  height: 22px;
  padding-right: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.inst {
  background: url("../img/icons/inst.png") center no-repeat;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#vk:hover {
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#inst:hover {
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form {
  position: absolute;
  bottom: 93px;
  right: 8%;
  width: 443px;
  height: 336px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.form form {
  padding-top: 22px;
  text-align: left;
  margin-left: 42px;
}

.form input[type='text'] {
  padding-left: 16px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form input[type='tel'] {
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form input[type='tel']:required {
  outline-color: rgba(0, 0, 0, 0);
}

.form__label {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 22px;
  padding-top: 16px;
}

.form__input {
  width: 360px;
  height: 48px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0px;
  outline: none;
  font-size: 22px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.form__agree {
  width: 138px;
  height: 45px;
  opacity: 0.5;
  font-size: 10px;
  line-height: 16px;
  -webkit-transform: translate(10px, -12px);
          transform: translate(10px, -12px);
}

.form__agree-check {
  opacity: 0.5;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 37px;
}

.form__button {
  width: 172px;
  height: 48px;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0.9;
}

.button {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  border-radius: 3px;
  color: #fff;
  background-color: #e2007c;
  border: 0px;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 1,2s;
  transition: 1,2s;
}

.button-ticket {
  width: 172px;
  height: 48px;
  margin-left: 132px;
}

.button-sub {
  width: 172px;
  height: 48px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  border: 0px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

nav {
  padding-left: 0;
  padding-bottom: 85px;
  margin: 0;
}

nav a {
  display: inline-block;
  margin-right: 46px;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  opacity: 0.9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 7px 12px 8px 12px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

nav a:hover {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #e2007c;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7px 12px 8px 12px;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.nav-active {
  text-decoration: none;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #e2007c;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7px 12px 8px 12px;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.nav-active:hover {
  -webkit-transform: none;
          transform: none;
  cursor: default;
}

.nav-top {
  padding: 215px 0px 58px 135px;
}

.section {
  position: relative;
}

.slide {
  position: relative;
  text-align: left;
}

.slide-left {
  position: absolute;
  left: 135px;
  bottom: 93px;
}

.slide-left__up {
  padding: 37px 0px 25px 135px;
}

.slide-menu__up {
  padding-left: 135px;
  padding-top: 215px;
}

.slide-menu__item {
  display: inline-block;
  margin-right: 46px;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  opacity: 0.9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 7px 12px 8px 12px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.slide-menu__item:hover {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #e2007c;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7px 12px 8px 12px;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.slide-menu__item a {
  color: #fff;
}

.slide-menu__item a:hover {
  color: #e2007c;
  text-decoration: none;
}

.slide-title {
  font-size: 126px;
  font-weight: 500;
  line-height: 130px;
  margin: 0;
  padding-bottom: 16px;
}

.slide-title__up {
  padding-left: 127px;
  margin: 0px;
  font-size: 76px;
  font-weight: 500;
  line-height: 90px;
}

.slide-subtitle {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 37px;
}

.slide-description {
  width: 656px;
  max-height: 71px;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
}

.slides-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.slides-main-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/sport.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slides-main-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/bowling.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slides-main-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/karaoke.jpg") left no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slides-main-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/resto.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slides-main-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/fog.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slides-main__title {
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
  position: absolute;
  bottom: 231px;
  left: 62px;
}

.slides-main__subtitle {
  height: 72px;
  font-size: 16px;
  line-height: 24px;
  width: 261px;
  position: absolute;
  bottom: 132px;
  left: 62px;
}

.slides-main__arrow {
  position: absolute;
  bottom: 55px;
  left: 62px;
}

input[type="checkbox"] + span {
  background: url("../img/icons/checkbox.png") no-repeat;
}

input[type="checkbox"] + span:checked {
  background: url("../img/icons/checkbox__checked.png") no-repeat;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 135px;
}

.news-item {
  padding-right: 69px;
}

.news-item__title {
  width: 322px;
  height: auto;
  font-size: 24px;
  line-height: 29px;
  padding-top: 28px;
  padding-bottom: 28px;
  margin: 0;
}

.news-item__description {
  width: 322px;
  height: 71px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}

.news-item__img {
  padding-top: 24px;
  width: 319px;
  height: 186px;
}

.schedule-description {
  width: 734px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  padding-left: 132px;
}

.table {
  padding-left: 132px;
  padding-top: 41px;
}

.table th {
  padding-top: 31px;
  padding-bottom: 31px;
  width: 93px;
  height: 19px;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}

.table td {
  font-size: 16px;
  line-height: 24px;
  padding-right: 30px;
  width: 116px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.table-row__high {
  height: 76px;
}

.table-row__white {
  background-color: rgba(231, 231, 231, 0.2);
  z-index: 0;
}

.gallery {
  padding-top: 23px;
  padding-left: 133px;
}

.gallery-item {
  padding-bottom: 40px;
}

.gallery-item__img {
  width: 286px;
  height: 160px;
}

.links-norm {
  color: #fff;
  text-decoration: none;
}

.action {
  position: relative;
}

.action::after {
  content: 'Акция';
  display: block;
  color: #e2007c;
  font-size: 16px;
  line-height: 24px;
  width: 84px;
  height: 28px;
  border-radius: 14px;
  background-color: #f1e312;
  text-align: center;
  position: absolute;
  top: 14px;
  right: 80px;
}

.map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.table-map {
  padding-top: 235px;
  padding-left: 116px;
}

.table-map td {
  width: 104px;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  padding-right: 141px;
  padding-top: 24px;
}

.table-map__bold {
  font-weight: 700;
}

.address {
  width: 171px;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  padding-bottom: 50px;
}

.address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 366px;
}

.lunch {
  width: 171px;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
}

.map-hr {
  position: absolute;
  right: 0px;
  bottom: 300px;
  border: 0px;
  width: 50vw;
  height: 2px;
  background-color: #e0e0e0;
}

.map-form {
  position: absolute;
  bottom: 100px;
  right: 200px;
}

.map-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.map-form__sub {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
}

.map-form__sub__bold {
  font-weight: 700;
}

.map-form__input {
  width: 360px;
  height: 48px;
  border-radius: 5px;
  background-color: #ececec;
  padding-left: 10px;
  border: 0px;
  font-size: 22px;
  margin-top: 27px;
  margin-right: 24px;
}
/*# sourceMappingURL=style.css.map */